@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Raleway:700,800&display=swap);

@charset "UTF-8";

[class*=_icon-]:before {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
	display: block;
}

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	color: #616161;
	line-height: 1;
	font-family: "Rubik";
	font-size: 0.75rem;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
	font-family: "Rubik";
	font-size: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

.lock body {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
	-ms-scroll-chaining: none;
	overscroll-behavior: none;
}

.wrapper {
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: hidden;
}

.wrapper>main {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.wrapper>* {
	min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
	max-width: 66.625rem;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 0.9375rem;
}

.button {
	display: inline-block;
	font-family: "Raleway";
	max-width: 9rem;
	font-weight: 800;
	font-size: 0.625rem;
	line-height: 0.75rem;
	padding: 0.875rem 1.875rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	letter-spacing: 0.14em;
	border-radius: 5px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	background: #EC5863;
	color: #fff;
}

.button._fw {
	width: 100%;
}

.button__blue {
	background: #587EEC;
}

.button__blue:hover {
	background: #2e5fad;
}

[class*=-ibg] {
	position: relative;
}

[class*=-ibg] img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
}

[class*=-ibg_contain] img {
	-o-object-fit: contain;
	object-fit: contain;
}

.span__red {
	color: #EC5863;
}

.span__blue {
	color: #587EEC;
}

.title {
	font-weight: 700;
	line-height: 126%;
	color: #000000;
}

.text {
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 138.5%;
	letter-spacing: 0.08em;
	color: #616161;
}

.icon-menu {
	display: none;
}

.header {
	padding: 2.3125rem 0rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 30;
}

.header__container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 47% 8.125rem;
	grid-template-columns: 1fr 47% 8.125rem;
}

.header__logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	z-index: 5;
}

.header__logo-image {
	padding: 0rem 0.3125rem;
}

.header__logo-text {
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.3125rem;
	color: #000;
}

.header__button {
	z-index: 50;
	background: #587EEC;
	color: #fff;
}

.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.menu__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.menu__link {
	color: #000;
	font-weight: 700;
	font-size: 0.625rem;
	line-height: 0.75rem;
	letter-spacing: 0.14em;
	-webkit-transition: -webkit-text-decoration 0.8s ease 0s;
	transition: -webkit-text-decoration 0.8s ease 0s;
	-o-transition: text-decoration 0.8s ease 0s;
	transition: text-decoration 0.8s ease 0s;
	transition: text-decoration 0.8s ease 0s, -webkit-text-decoration 0.8s ease 0s;
}

.menu__link:hover {
	text-decoration: underline;
}

.footer {
	margin: 1.875rem 0rem 2.875rem 0rem;
}

.footer__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-column-gap: 3.5rem;
	-moz-column-gap: 3.5rem;
	column-gap: 3.5rem;
}

.main-block {
	position: relative;
	background: #FAFBFD;
}

.main-block__container {
	padding: 9.625rem 0rem 3rem 0rem;
}

.main-block__container::after {
	background: #EC5863;
	content: "";
	position: absolute;
	top: 0;
	width: 200%;
	height: 100%;
	left: 65%;
	border-radius: 30px 0px 0px 30px;
}

.main-block__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0rem 1.25rem;
}

.main-block__image {
	z-index: 5;
}

.main-block__image img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.content__text {
	color: #616161;
	letter-spacing: 0.08em;
	line-height: 138.5%;
	padding: 0.75rem 0rem 1.5rem 0rem;
}

.media {
	margin: 3.75rem 0rem 0rem 1.25rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.media__icon {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	border-radius: 50%;
}

.media__icon:hover {
	height: 44px;
	width: 44px;
	background-color: rgba(66, 133, 244, 0.2);
}

.media__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0.375rem 0.75rem;
}

.media__title {
	line-height: 126%;
	letter-spacing: 0.08em;
	color: #B0B0B0;
}

.media__text {
	font-size: 0.5625rem;
	font-weight: 400;
	line-height: 126%;
	letter-spacing: 0.165em;
	text-transform: uppercase;
	color: #000000;
}

.features__body {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.features__text {
	line-height: 138.5%;
	letter-spacing: 0.08em;
}

.media-features__image {
	position: absolute;
	z-index: 50;
	padding: 7.1875rem 0rem 0rem 5.3125rem;
}

.media-features__image img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.media-features__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.media-features__item {
	position: relative;
	z-index: 30;
}

.media-features__item_1 {
	margin: 4.9375rem 0rem 0rem 3rem;
}

.media-features__item_2 {
	margin: 13.1875rem 0rem 0rem 19.3125rem;
}

.media-features__item_3 {
	margin: 1.875rem 0rem 4.9375rem 5rem;
}

.experts {
	background: #FAFBFD;
	padding: 6.25rem 0rem 7.25rem 0rem;
}

.experts__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.experts__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 5rem 1.5625rem 0rem 1.5625rem;
}

.amount-expert {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-grid-column-align: center;
	justify-self: center;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
}

.amount-expert__content {
	z-index: 50;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.amount-expert__item {
	position: relative;
}

.amount-expert__item_1 {
	margin: 4.0625rem 0rem 0rem -2.1875rem;
}

.amount-expert__item_2 {
	margin: -11.875rem 0rem 0rem 14.375rem;
}

.amount-expert__item_3 {
	margin: -5rem 0rem 0rem 37.1875rem;
}

.amount-expert-content {
	background: #FFFFFF;
	-webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
	box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
	border-radius: 16px;
	padding: 1.75rem 5rem;
	position: absolute;
}

.amount-expert-content__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.amount-expert-content__item:not(:last-child) {
	margin: 0rem 5.3125rem 0rem 0rem;
}

.amount-expert-content__number {
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 2.6875rem;
	letter-spacing: 0.14em;
	color: #EC5863;
}

.amount-expert-content__name {
	font-weight: 700;
	font-size: 0.6875rem;
	line-height: 0.8125rem;
	letter-spacing: 0.37em;
	text-transform: uppercase;
	color: #000000;
}

.content__button {
	max-width: 9rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.content__media {
	-webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	-webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
	box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
	border-radius: 8px;
}

.content__media img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.healthcare {
	margin: 4.375rem 0rem 1.75rem 0rem;
}

.healthcare__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.healthcare__text {
	margin: 0.875rem 0rem 0rem 0rem;
	text-align: center;
}

.healthcare__content-body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-column-gap: 4.5rem;
	-moz-column-gap: 4.5rem;
	column-gap: 4.5rem;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0rem 0.9375rem;
	position: absolute;
	z-index: 50;
}

.item-healthcare {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 10.4375rem 0rem 0rem 0rem;
	-webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
	box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
	border-radius: 8px;
	padding: 2.25rem 1.5625rem;
	min-width: 17.40625rem;
	background: #fff;
}

.item-healthcare__icon {
	max-width: 5.3125rem;
	padding: 0rem 0rem 3.625rem 0rem;
}

.item-healthcare__title {
	font-weight: 700;
	line-height: 138.5%;
	letter-spacing: 0.08em;
	color: #000000;
	padding: 0rem 0rem 0.25rem 0rem;
}

.item-healthcare__text {
	text-align: center;
}

.background {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

.background__item_1 {
	margin: 20rem 9.4375rem 0rem 0rem;
}

.background__item_2 {
	margin: 6.0625rem 13.4375rem 0rem 1.25rem;
}

.background__item_3 {
	margin: 14.6875rem 12.1875rem 0rem 1.25rem;
}

.background__item_4 {
	margin: 1.875rem 0rem 0rem 1.25rem;
}

@media (min-width: 68.5em) {
	.title {
		font-size: 2.75rem;
	}

	.menu__item:not(:last-child) {
		margin-right: 2.5rem;
	}

	.main-block__image {
		min-width: 34.1875rem;
	}

	.content__text {
		max-width: 23.4375rem;
	}

	.media__title {
		font-size: 0.8125rem;
	}

	.features__content {
		max-width: 22.6875rem;
	}

	.features__text {
		padding-top: 0.75rem;
	}

	.features__text {
		padding-bottom: 1.5rem;
	}

	.media-features__image {
		min-width: 16rem;
	}

	.content__media {
		min-width: 32.5625rem;
	}

	.healthcare__text {
		max-width: 37.5rem;
	}

	.item-healthcare__text {
		width: 12.4375rem;
	}
}

@media (max-width: 20em) {
	.title {
		font-size: 1.125rem;
	}

	.menu__item:not(:last-child) {
		margin-right: 0.625rem;
	}

	.main-block__image {
		min-width: 12.5rem;
	}

	.content__text {
		max-width: 12.5rem;
	}

	.media__title {
		font-size: 0.75rem;
	}

	.features__content {
		max-width: 16.875rem;
	}

	.features__text {
		padding-top: 0.5rem;
	}

	.features__text {
		padding-bottom: 0.75rem;
	}

	.media-features__image {
		min-width: 9.375rem;
	}

	.content__media {
		min-width: 12.5rem;
	}

	.healthcare__text {
		max-width: 18.75rem;
	}

	.item-healthcare__text {
		width: 6.25rem;
	}
}

@media (max-width: 61.99875em) and (max-width: 20em) {
	.features {
		padding-bottom: 1.875rem;
	}
}

@media (max-width: 61.99875em) {
	.features__body {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.media-features__image {
		padding: 7.1875rem 0rem 0rem 2.3125rem;
	}

	.media-features__item_1 {
		margin: 4.9375rem 0rem 0rem 0rem;
	}

	.media-features__item_2 {
		margin: 13.1875rem 0rem 0rem 16.9375rem;
	}

	.media-features__item_3 {
		margin: 1.875rem 0rem 4.9375rem 2rem;
	}

	.experts {
		padding: 6.25rem 0rem 5rem 0rem;
	}

	.experts__content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		padding: 11.25rem 1.5625rem 0rem 1.5625rem;
	}

	.amount-expert {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.amount-expert__item_1 {
		margin: 15.9375rem 0rem -13.75rem 10.3125rem;
	}

	.amount-expert__item_2 {
		margin: -20.625rem 0rem 6.875rem 17.5rem;
	}

	.amount-expert__item_3 {
		margin: -5rem 8.3125rem 0rem 28.4375rem;
	}

	.amount-expert-content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.amount-expert-content__item:not(:last-child) {
		margin: 0rem 0rem 1.25rem 0rem;
	}

	.content__body {
		padding: 1.875rem 0rem 0rem 0rem;
	}

	.healthcare__content-body {
		-webkit-column-gap: 2rem;
		-moz-column-gap: 2rem;
		column-gap: 2rem;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin: 0rem 0.3125rem;
	}

	.item-healthcare {
		padding: 2.25rem 0.6875rem;
	}

	.item-healthcare {
		margin: 1.25rem 0rem 0rem 0rem;
	}

	.item-healthcare:first-child {
		margin: 10.4375rem 0rem 0rem 0rem;
	}

	.background__item_1 {
		margin: 50rem -3.125rem 0rem 0rem;
	}

	.background__item_2 {
		margin: 34.375rem 0rem 0rem 2.5rem;
	}

	.background__item_3 {
		margin: 14.6875rem 1.875rem 0rem 0rem;
	}

	.background__item_4 {
		margin: 1.875rem 1.25rem 0rem 0.625rem;
	}
}

@media (max-width: 47.99875em) {
	.button {
		letter-spacing: 0.1em;
		padding: 0.9375rem 1.5625rem;
	}

	.icon-menu {
		display: block;
		position: relative;
		width: 1.875rem;
		height: 1.125rem;
		cursor: pointer;
		z-index: 5;
	}

	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		right: 0;
		position: absolute;
		width: 100%;
		height: 0.125rem;
		background-color: #000;
	}

	.icon-menu::before {
		top: 0;
	}

	.icon-menu::after {
		bottom: 0;
	}

	.icon-menu span {
		top: calc(50% - 0.0625rem);
	}

	.menu-open .icon-menu span {
		width: 0;
	}

	.menu-open .icon-menu::before {
		top: calc(50% - 0.0625rem);
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.menu-open .icon-menu::after {
		bottom: calc(50% - 0.0625rem);
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.header__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		/*align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));*/
	}

	.menu__body {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		overflow: auto;
	}

	.menu__body::before {
		content: "";
		position: fixed;
		top: 0;
		left: -100%;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		width: 100%;
		background: #eceff1;
		z-index: 2;
	}

	.menu-open .menu__body {
		left: 0;
		background: #eceff1;
	}

	.menu-open .menu__body::before {
		left: 0;
		background: #eceff1;
	}

	.menu__list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.menu__item:not(:last-child) {
		margin: 0rem 0rem 1.25rem 0rem;
	}

	.menu__link {
		font-size: 1.25rem;
	}

	.main-block__body {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.item-healthcare {
		max-width: 25.03125rem;
	}
}

@media (max-width: 47.99875em) and (max-width: 20em) {
	.header {
		padding-top: 0.9375rem;
	}

	.header {
		padding-bottom: 0.9375rem;
	}

	.menu__body {
		padding-top: 6.25rem;
	}

	.menu__body::before {
		height: 4.5rem;
	}

	.main-block__content {
		padding-top: 3.125rem;
	}

	.main-block__content {
		width: 15rem;
	}
}

@media (max-width: 29.99875em) {
	.button {
		padding: 0.9375rem 1.25rem;
	}

	.header__container {
		/*grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));*/
	}

	.header__logo-image {
		padding: 0rem 0rem 0rem 0rem;
	}

	.header__button {
		margin-top: 20px;
		width: 100%;
	}

	.footer__container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin: 8.75rem 0rem 2.875rem 0rem;
	}

	.main-block__container::after {
		left: 75%;
	}

	.content__title {
		max-width: 12.5rem;
	}

	.media-features__image {
		padding: 7.1875rem 0rem 0rem 0rem;
	}

	.media-features__item_2 {
		margin: 13.1875rem 0rem 0rem 13.1875rem;
	}

	.media-features__item_3 {
		margin: 1.875rem 0rem 4.9375rem 0rem;
	}

	.amount-expert__item_1 {
		margin: 15.9375rem 0rem -13.75rem 8.125rem;
	}

	.amount-expert__item_2 {
		margin: -20.625rem 0rem 6.875rem 11.25rem;
	}

	.amount-expert__item_3 {
		margin: -5rem 8.3125rem 0rem 17.5rem;
	}

	.amount-expert-content {
		padding: 1.75rem 2.5rem;
	}

	.item-healthcare {
		max-width: 15.65625rem;
	}

	.background__item_1 {
		margin: 50rem -9.375rem 0rem 0rem;
	}

	.background__item_2 {
		margin: 34.375rem -9.375rem 0rem 2.5rem;
	}

	.background__item_3 {
		margin: 14.6875rem -6.875rem 0rem 0rem;
	}

	.background__item_4 {
		margin: 3.125rem 1.25rem 0rem 0.625rem;
	}
}

@media (min-width: 20em) and (max-width: 68.5em) {
	@supports (font-size: clamp(1.125rem, 0.4548969072rem + 3.3505154639vw, 2.75rem)) {
		.title {
			font-size: clamp(1.125rem, 0.4548969072rem + 3.3505154639vw, 2.75rem);
		}
	}

	@supports not (font-size: clamp(1.125rem, 0.4548969072rem + 3.3505154639vw, 2.75rem)) {
		.title {
			font-size: calc(1.125rem + 1.625 * (100vw - 20rem) / 48.5);
		}
	}

	@supports (margin-right: clamp(0.625rem, -0.1481958763rem + 3.8659793814vw, 2.5rem)) {
		.menu__item:not(:last-child) {
			margin-right: clamp(0.625rem, -0.1481958763rem + 3.8659793814vw, 2.5rem);
		}
	}

	@supports not (margin-right: clamp(0.625rem, -0.1481958763rem + 3.8659793814vw, 2.5rem)) {
		.menu__item:not(:last-child) {
			margin-right: calc(0.625rem + 1.875 * (100vw - 20rem) / 48.5);
		}
	}

	@supports (min-width: clamp(12.5rem, 3.5567010309rem + 44.7164948454vw, 34.1875rem)) {
		.main-block__image {
			min-width: clamp(12.5rem, 3.5567010309rem + 44.7164948454vw, 34.1875rem);
		}
	}

	@supports not (min-width: clamp(12.5rem, 3.5567010309rem + 44.7164948454vw, 34.1875rem)) {
		.main-block__image {
			min-width: calc(12.5rem + 21.6875 * (100vw - 20rem) / 48.5);
		}
	}

	@supports (max-width: clamp(12.5rem, 7.9896907216rem + 22.5515463918vw, 23.4375rem)) {
		.content__text {
			max-width: clamp(12.5rem, 7.9896907216rem + 22.5515463918vw, 23.4375rem);
		}
	}

	@supports not (max-width: clamp(12.5rem, 7.9896907216rem + 22.5515463918vw, 23.4375rem)) {
		.content__text {
			max-width: calc(12.5rem + 10.9375 * (100vw - 20rem) / 48.5);
		}
	}

	@supports (font-size: clamp(0.75rem, 0.7242268041rem + 0.1288659794vw, 0.8125rem)) {
		.media__title {
			font-size: clamp(0.75rem, 0.7242268041rem + 0.1288659794vw, 0.8125rem);
		}
	}

	@supports not (font-size: clamp(0.75rem, 0.7242268041rem + 0.1288659794vw, 0.8125rem)) {
		.media__title {
			font-size: calc(0.75rem + 0.0625 * (100vw - 20rem) / 48.5);
		}
	}

	@supports (max-width: clamp(16.875rem, 14.4780927835rem + 11.9845360825vw, 22.6875rem)) {
		.features__content {
			max-width: clamp(16.875rem, 14.4780927835rem + 11.9845360825vw, 22.6875rem);
		}
	}

	@supports not (max-width: clamp(16.875rem, 14.4780927835rem + 11.9845360825vw, 22.6875rem)) {
		.features__content {
			max-width: calc(16.875rem + 5.8125 * (100vw - 20rem) / 48.5);
		}
	}

	@supports (padding-top: clamp(0.5rem, 0.3969072165rem + 0.5154639175vw, 0.75rem)) {
		.features__text {
			padding-top: clamp(0.5rem, 0.3969072165rem + 0.5154639175vw, 0.75rem);
		}
	}

	@supports not (padding-top: clamp(0.5rem, 0.3969072165rem + 0.5154639175vw, 0.75rem)) {
		.features__text {
			padding-top: calc(0.5rem + 0.25 * (100vw - 20rem) / 48.5);
		}
	}

	@supports (padding-bottom: clamp(0.75rem, 0.4407216495rem + 1.5463917526vw, 1.5rem)) {
		.features__text {
			padding-bottom: clamp(0.75rem, 0.4407216495rem + 1.5463917526vw, 1.5rem);
		}
	}

	@supports not (padding-bottom: clamp(0.75rem, 0.4407216495rem + 1.5463917526vw, 1.5rem)) {
		.features__text {
			padding-bottom: calc(0.75rem + 0.75 * (100vw - 20rem) / 48.5);
		}
	}

	@supports (min-width: clamp(9.375rem, 6.6430412371rem + 13.6597938144vw, 16rem)) {
		.media-features__image {
			min-width: clamp(9.375rem, 6.6430412371rem + 13.6597938144vw, 16rem);
		}
	}

	@supports not (min-width: clamp(9.375rem, 6.6430412371rem + 13.6597938144vw, 16rem)) {
		.media-features__image {
			min-width: calc(9.375rem + 6.625 * (100vw - 20rem) / 48.5);
		}
	}

	@supports (min-width: clamp(12.5rem, 4.2268041237rem + 41.3659793814vw, 32.5625rem)) {
		.content__media {
			min-width: clamp(12.5rem, 4.2268041237rem + 41.3659793814vw, 32.5625rem);
		}
	}

	@supports not (min-width: clamp(12.5rem, 4.2268041237rem + 41.3659793814vw, 32.5625rem)) {
		.content__media {
			min-width: calc(12.5rem + 20.0625 * (100vw - 20rem) / 48.5);
		}
	}

	@supports (max-width: clamp(18.75rem, 11.0180412371rem + 38.6597938144vw, 37.5rem)) {
		.healthcare__text {
			max-width: clamp(18.75rem, 11.0180412371rem + 38.6597938144vw, 37.5rem);
		}
	}

	@supports not (max-width: clamp(18.75rem, 11.0180412371rem + 38.6597938144vw, 37.5rem)) {
		.healthcare__text {
			max-width: calc(18.75rem + 18.75 * (100vw - 20rem) / 48.5);
		}
	}

	@supports (width: clamp(6.25rem, 3.6984536082rem + 12.7577319588vw, 12.4375rem)) {
		.item-healthcare__text {
			width: clamp(6.25rem, 3.6984536082rem + 12.7577319588vw, 12.4375rem);
		}
	}

	@supports not (width: clamp(6.25rem, 3.6984536082rem + 12.7577319588vw, 12.4375rem)) {
		.item-healthcare__text {
			width: calc(6.25rem + 6.1875 * (100vw - 20rem) / 48.5);
		}
	}
}

@media (max-width: 47.99875em) and (min-width: 68.5em) {
	.header {
		padding-top: 1.875rem;
	}

	.header {
		padding-bottom: 1.875rem;
	}

	.menu__body {
		padding-top: 9.375rem;
	}

	.menu__body::before {
		height: 7.5rem;
	}

	.main-block__content {
		padding-top: 6.25rem;
	}

	.main-block__content {
		width: 35rem;
	}
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 68.5em) {
	@supports (padding-top: clamp(0.9375rem, 0.5509020619rem + 1.9329896907vw, 1.875rem)) {
		.header {
			padding-top: clamp(0.9375rem, 0.5509020619rem + 1.9329896907vw, 1.875rem);
		}
	}

	@supports not (padding-top: clamp(0.9375rem, 0.5509020619rem + 1.9329896907vw, 1.875rem)) {
		.header {
			padding-top: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 48.5);
		}
	}

	@supports (padding-bottom: clamp(0.9375rem, 0.5509020619rem + 1.9329896907vw, 1.875rem)) {
		.header {
			padding-bottom: clamp(0.9375rem, 0.5509020619rem + 1.9329896907vw, 1.875rem);
		}
	}

	@supports not (padding-bottom: clamp(0.9375rem, 0.5509020619rem + 1.9329896907vw, 1.875rem)) {
		.header {
			padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 48.5);
		}
	}

	@supports (padding-top: clamp(6.25rem, 4.9613402062rem + 6.4432989691vw, 9.375rem)) {
		.menu__body {
			padding-top: clamp(6.25rem, 4.9613402062rem + 6.4432989691vw, 9.375rem);
		}
	}

	@supports not (padding-top: clamp(6.25rem, 4.9613402062rem + 6.4432989691vw, 9.375rem)) {
		.menu__body {
			padding-top: calc(6.25rem + 3.125 * (100vw - 20rem) / 48.5);
		}
	}

	@supports (height: clamp(4.5rem, 3.2628865979rem + 6.1855670103vw, 7.5rem)) {
		.menu__body::before {
			height: clamp(4.5rem, 3.2628865979rem + 6.1855670103vw, 7.5rem);
		}
	}

	@supports not (height: clamp(4.5rem, 3.2628865979rem + 6.1855670103vw, 7.5rem)) {
		.menu__body::before {
			height: calc(4.5rem + 3 * (100vw - 20rem) / 48.5);
		}
	}

	@supports (padding-top: clamp(3.125rem, 1.8363402062rem + 6.4432989691vw, 6.25rem)) {
		.main-block__content {
			padding-top: clamp(3.125rem, 1.8363402062rem + 6.4432989691vw, 6.25rem);
		}
	}

	@supports not (padding-top: clamp(3.125rem, 1.8363402062rem + 6.4432989691vw, 6.25rem)) {
		.main-block__content {
			padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 48.5);
		}
	}

	@supports (width: clamp(15rem, 6.7525773196rem + 41.2371134021vw, 35rem)) {
		.main-block__content {
			width: clamp(15rem, 6.7525773196rem + 41.2371134021vw, 35rem);
		}
	}

	@supports not (width: clamp(15rem, 6.7525773196rem + 41.2371134021vw, 35rem)) {
		.main-block__content {
			width: calc(15rem + 20 * (100vw - 20rem) / 48.5);
		}
	}
}

@media (max-width: 61.99875em) and (min-width: 68.5em) {
	.features {
		padding-bottom: 4.9375rem;
	}
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 68.5em) {
	@supports (padding-bottom: clamp(1.875rem, 0.6121134021rem + 6.3144329897vw, 4.9375rem)) {
		.features {
			padding-bottom: clamp(1.875rem, 0.6121134021rem + 6.3144329897vw, 4.9375rem);
		}
	}

	@supports not (padding-bottom: clamp(1.875rem, 0.6121134021rem + 6.3144329897vw, 4.9375rem)) {
		.features {
			padding-bottom: calc(1.875rem + 3.0625 * (100vw - 20rem) / 48.5);
		}
	}
}

@media (any-hover: hover) {
	.button:hover {
		background: #b6454c;
	}
}

@media (max-width: 767px) {
	.menu__list {
		gap: 1.5rem;
	}

	.menu__item:not(:last-child) {
		margin: 0px 0px 0px 0px;
	}
}